/* Font name: Sen */ @import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


/* Variable colors */
/* Themes */ 

html{

    --topbar-color: rgb(255, 255, 255);
    --background-color: rgb(247, 247, 247);
    --textarea-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --button-hover: rgb(185, 184, 184);
    --border-color: rgb(216, 214, 214);
}

html[data-theme="dark"]{
    
    --topbar-color: rgb(65, 65, 65);
    --background-color: #242424;
    --textarea-color: #5a5a5a;
    --text-color: #fff;
    --button-hover: rgb(43, 43, 43);
    --border-color: rgb(36, 36, 36);
}


/* Menu Bar */

.menu-bar{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 0 20px;

    background: var(--topbar-color);
    font-family: 'Sen', sans-serif;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--border-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}


#back-button, #darkmode-button{
    color: #000000;
    transition: all 0.2s ease-in-out;
}

#back-button:hover, #darkmode-button:hover{
    color: #018a8a;
    cursor: pointer;
}



.mid-part{
    display: flex;
}

.mid-options{
    width: 25px;
    height: 25px;

    font-size: 1.3rem;
    /* font-weight: none; */
    margin-right: 10px;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-options:hover{
    cursor: pointer;
    background: var(--button-hover);
    
}

.size-options{
    width: 90px;
    height: 25px;
    margin-right: 20px;

    font-size: 1.2rem;

    border: 1px solid var(--border-color);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.size-minus, .size-plus{
    width: 30px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.size-number{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-number select{
    border: none;
}

.size-minus:hover, .size-plus:hover{
    cursor: pointer;
    background: var(--button-hover);
    border-radius: 4px;
}

.font-options{
    width: 90px;
    height: 25px;
    margin-right: 10px;

    border: 1px solid var(--border-color);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Sen', sans-serif;
}

.font-options:hover{
    cursor: pointer;
    background-color: var(--button-hover);
}

.fa-chevron-down{ /* this is for the Font changer drop down */
    margin-left: 7px;
    font-size: 0.7rem;
}

#menuhide-button{
    font-size: 1rem;
}

.switch{ /* This is for the dark mode button */
    opacity: 0;
    position: absolute;
    pointer-events: none;
}


/* Writing Area */

.whole-container{
    width: 100%;
    min-height: 150vh;
    background: var(--background-color);
}

.main-section{
    width: 100%;
    min-height: 100vh;

    padding: 20px 0;
    background: var(--background-color);
}

.writing-box{
    width: 8.5in;
    height: 11in;
    padding: 0.7in;
    margin: 0 auto;
    background-color: var(--textarea-color);
    box-shadow: 1px 1px 6px 1px var(--border-color);

    border-radius: 5px;
}

.writing-box .writing-area {
    height: 100vh;
    width: 100%;
}

.writing-area textarea{
    background-color: var(--textarea-color);
    width: 100%;
    height: 100vh;

    font-size: 1rem;
    resize: none;
    padding: 10px;
    outline: none;
    border: none;
    line-height: 1.2rem;
}

.writing-area textarea:focus{
    outline: none;
}
