/* Fonts */

/* Font name: Cinzel */ @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/* Font name: Abel */ @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* Font name: Dosis */ @import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/* Universal Selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #023047;
    --accent-color: #219EBC;
}

html {
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}


/* Containers */

.whole-container{
    width: 100%;
    height: 100%;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* NavBar */

.nav-bar{
    height: 70px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: var(--text-color);
}

.left-side{
    font-family: 'Abel', serif;
    font-size: 2.5rem;
}

.left-side a{
    transition: all 0.3s ease-in-out;
}

.left-side a:hover{
    color: #795600;
}


.right-side{
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
}

.right-side a{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease; 
    margin: 0 5px;
    text-decoration: none;
    color: var(--text-color);
}

.right-side a:hover{
    transform: translateY(3px);
    cursor: pointer;
    color: var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

.right-side a:nth-last-child(2) {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    color: var(--accent-color);
    transform: none;
}

.right-side a:last-child {
    background-color: var(--accent-color);
    border-radius: 5px;
    color: #fff;
    transform: none;
    border: none;
}

/* Body */

.body{
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    color: var(--text-color);
}

section{
    min-height: 60vh;
}

#home {
    width: 100%;    
    height: calc(100vh - 71px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home div {
    width: 50%;
    line-height: 1.6rem;
    font-size: 1.3rem;
    font-weight: 400;
}

#home img{
    min-width: 50%;
    max-width: 600px;
    transform: scaleX(-1); /* this is to flip the image horizontally */
}

.home-intro div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Abel', sans-serif;
}

.home-intro span{
    font-size: 1.5rem;
}

#create-button{
    background: #1ccfc9;
    width: 100px;
    height: 50px;
    font-size: 2rem;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
}

#create-button:hover{
    cursor: pointer;
    color: #fff;
    background: #10948f;
}

.create-text{
    font-size: 1em;
}

/* Footer */

footer{
    width: 100%;
    height: 90px;
    background: #D8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div{
    color: #444247;
    font-family: 'Abel', sans-serif;
    font-size: 3rem;
}


#footer-team{
    transition: all 0.3s ease-in-out;
}
#footer-team:hover{
    background: #10948f;
    cursor: pointer;
    color: #022b35;
    border-radius: 5px;
}